/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/
/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid--card {
  margin-bottom: 2rem;
}

/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */
.grid__item {
  flex: 1 1 100%;
  margin-bottom: 2rem;
  /* This is just for the component library example */
}
@media (min-width: 920px) {
  .grid__item {
    margin: 0 2rem 0 0;
    flex-basis: 30%;
  }
}
.grid__item:last-child {
  margin-right: 0;
}
.grid__item--example {
  background-color: rgba( var(--c-highlight-bright, 255, 235, 10), 1 );
  padding: 4rem;
}

/*
 * General Mixins (put specific ones in component files where applicable)
*/
/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/
.footer {
  background-color: rgba( var(--c-neutral-n100, 145, 146, 146), 1 );
  padding: 1rem 0;
}
.footer__inner {
  max-width: xlarge;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
@media (min-width: 480px) {
  .footer__inner {
    padding: 0 1rem;
  }
}
@media (min-width: 1224px) {
  .footer__inner {
    padding-left: calc(1rem + -50vw + xlarge / 2);
    padding-right: calc(1rem + -50vw + xlarge / 2);
  }
}
@media (min-width: 920px) {
  .footer__inner {
    flex-direction: row;
  }
}

.footer__social {
  margin-bottom: 1rem;
}
@media (min-width: 920px) {
  .footer__social {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media (min-width: 920px) {
  .footer__menu {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: right;
  }
}

.footer__branding {
  max-width: 10rem;
}

.header {
  margin-bottom: 4rem;
}
.header__inner {
  max-width: xlarge;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 480px) {
  .header__inner {
    padding: 0 1rem;
  }
}
@media (min-width: 1224px) {
  .header__inner {
    padding-left: calc(1rem + -50vw + xlarge / 2);
    padding-right: calc(1rem + -50vw + xlarge / 2);
  }
}
@media (min-width: 720px) {
  .header__primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
.header__branding {
  max-width: 190px;
  padding: 1rem 0;
}
@media (min-width: 720px) {
  .header__branding {
    margin-right: 1rem;
    max-width: 300px;
    padding: 0;
  }
}

.light-background {
  --background-color: #f4f7f6;
  --surface-color: #ffffff;
}

.header {
  padding: 20px 0;
  transition: all 0.5s;
}
.header.scrolled {
  background-color: white !important;
}

.head {
  background-color: transparent !important;
}

.active {
  color: #4154f1;
}

@media (max-width: 1200px) {
  .navbar_btn {
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }
}

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }
}

.hero .info {
  position: relative;
  inset: 0;
  z-index: 3;
  padding: 140px 0 60px 0;
}

@media (max-width: 768px), (max-height: 480px) {
  .hero .info {
    padding: 100px 50px 60px 50px;
  }
}
@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}
.hero .carousel {
  inset: 0;
  position: absolute;
  overflow: hidden;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition-duration: 0.4s;
}

.hero .carousel-item img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px;
  }
}
.hero .carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .hero .carousel-control-next {
    padding-right: 15px;
  }
}
.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: color-mix(in srgb, #ffffff, transparent 80%);
  color: color-mix(in srgb, #ffffff, transparent 40%);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
  text-decoration: none;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

.hero .carousel-item::before {
  content: "";
  background-color: color-mix(in srgb, #060606, transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  overflow: hidden;
}
.hero_card h3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero_card h3 {
    font-size: 36px !important;
  }
}
.hero_card h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: #feb900;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.hero_card p {
  color: color-mix(in srgb, #ffffff, transparent 20%);
  font-size: 18px;
}

.features-image {
  position: relative;
  min-height: 400px;
}
.features-image img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.alt-services .icon-box {
  margin-top: 50px;
}
.alt-services .icon-box:hover i {
  background-color: #feb900;
  color: #ffffff;
}
.alt-services .icon-box:hover h4 {
  color: #feb900;
}

.inner-title {
  font-size: 2.75rem;
  font-weight: 700;
  color: #52565e;
}
@media (min-width: 991px) {
  .inner-title {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.about-img {
  min-height: 400px;
  position: relative;
}
@media (min-width: 992px) {
  .about-img {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 600px;
  }
}
.about-img img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.section {
  padding: 60px 0;
  scroll-margin-top: 98px;
}
.section_card {
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border: 0;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
}
.section_card img {
  padding: 30px 50px;
  transition: 0.5s;
  max-width: 100%;
  height: auto;
}
.section_card p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.section_card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.section_card:hover img {
  transform: scale(0.9);
}

.stats_body h4 {
  font-size: 36px;
  font-weight: 600;
}

.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio-filters li.filter-active {
  color: #feb900;
}
.portfolio-filters li:hover {
  color: #feb900;
}

.portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}
.portfolio-content img {
  transition: 0.3s;
}

.portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}
.portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: #feb900;
}
.portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-content:hover img {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
.portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.portfolio-info .preview-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}
.portfolio-info .preview-link:hover {
  color: #feb900;
}

.portfolio-info .details-link {
  position: absolute;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
}
.portfolio-info .details-link:hover {
  color: #feb900;
}

.get-started .content {
  padding: 30px 0;
}
.get-started .content h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
.get-started .content h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #feb900;
  left: 0;
  bottom: 0;
}
.get-started .content p {
  color: #364d59;
  font-size: 14px;
}

.testimonial-wrap {
  padding-left: 50px;
}

.slick-dots li button:before {
  width: 12px !important;
  height: 12px !important;
  content: "" !important;
  background-color: #ffffff !important;
  opacity: 1;
  border: 1px solid #feb900 !important;
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}

.slick-dots li.slick-active button:before {
  background-color: #feb900 !important;
  border-color: #feb900 !important;
}

.slider-wrapper {
  width: 116px !important;
  margin-right: 120px;
  align-items: center !important;
}
.slider-wrapper img {
  width: 116px;
  transition: 0.3s;
}
.slider-wrapper:hover img {
  opacity: 1 !important;
}

.clients-slider {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.footer {
  color: #444444;
  background-color: #ffffff;
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}
.footer_newsletter {
  background-color: color-mix(in srgb, #4154f1, transparent 97%);
  border-top: 1px solid color-mix(in srgb, #4154f1, transparent 85%);
  border-bottom: 1px solid color-mix(in srgb, #4154f1, transparent 85%);
  padding: 50px 0;
}
.footer_newsletter h4 {
  font-size: 24px;
}
.footer_newsletter p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.footer_newsletter_form {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 6px 8px;
  position: relative;
  background-color: color-mix(in srgb, #ffffff, transparent 50%);
  border: 1px solid color-mix(in srgb, #444444, transparent 90%);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: 0.3s;
  border-radius: 4px;
}
.footer_newsletter_form input[type=email] {
  border: 0;
  padding: 4px;
  width: 100%;
  background-color: color-mix(in srgb, #ffffff, transparent 50%);
  color: #444444;
}
.footer_newsletter_form input[type=submit] {
  border: 0;
  font-size: 16px;
  padding: 0 20px;
  margin: -7px -8px -7px 0;
  background: #4154f1;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
.footer_top {
  padding-top: 50px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.section-title p {
  color: #364d59;
  margin-bottom: 0;
}

.features .nav-link {
  color: #52565e;
  padding: 15px 0;
  transition: 0.3s;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid color-mix(in srgb, #364d59, transparent 90%) !important;
}
.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.features .nav-link.active {
  background-color: #ffffff !important;
  border: 0 !important;
  border-bottom: 4px solid #feb900 !important;
}

.section_top h4 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.alt-services2 .icon-box {
  margin-top: 30px;
}
.alt-services2 .icon-box i {
  color: #feb900;
  margin-right: 15px;
  font-size: 24px;
  line-height: 1.2;
}
.alt-services2 .icon-box h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
.alt-services2 .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0px;
}/*# sourceMappingURL=organisms.css.map */