<div class = "main">
  {% include "@organisms/header/header.twig" with headerdata %}
  {% include "@organisms/hero/hero.twig" with herodata %}
  {% include "@organisms/who/who.twig" with whodata %}
  {% include "@organisms/values/values.twig" with valuesdata %}
  {% include "@organisms/stats/stats.twig" with statsdata %}
  {% include "@organisms/features/features.twig" with featuresdata %}
  {% include "@organisms/service/service.twig" with serviceData %}
  {% include "@organisms/pricing/pricing.twig" with pricedata %}
  {% include "@organisms/team/team.twig" with teamdata %}
  {% include "@organisms/testimonials/testimonials.twig" with testimonialsdata %}
  {% include "@organisms/clients/clients.twig" with clientsdata %}
  {% include "@organisms/posts/posts.twig" with postsdata %}
  {% include "@organisms/contactus/contactus.twig" with contactusdata %}
</div>