<section id="get-started" class="get-started section">
    <div class="container">
      <div class="row justify-content-between gy-4">
        <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
          <div class="content">
            {% include "@molecules/card/card.twig" with {
                card__heading: 'Minus hic non reiciendis ea possimus at quia.',
                card__body: 'ellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.',
                card__body2: 'ellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.',
                heading_level: '3'
            }%}
          </div>
        </div>
        <div class="col-lg-5 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
            {% include "@molecules/form/form.twig" %}
        </div>
      </div>
    </div>
  </section>