<section id="services" class="services section light-background">
  <div class="container section-title" >
    {% include "@atoms/text/headings/_heading.twig" with {
        'heading': block_heading,
        'heading_level': '2',
    } %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
        'paragraph_content': block_text,
    } %} 
  </div>

  <div class="container">
    <div class="row gy-4">
      {% for card in cards %}  
        <div
            class="col-lg-4 col-md-6">
            {% include "@molecules/service_card/card.twig" with {
                heading_content: card.heading,
                paragraph: card.paragraph,
                icon_src: card.icon,
                link: 'Read more'
            }%}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- data-aos="fade-up" 
            data-aos-delay="{{ loop.index0 * 100 + 100 }}" -->
