.service_card {
  background-color: #ffffff;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  transition: 0.3s;
  height: 100%;

  &:hover {
    & h3 {
      border-color: #feb900;
      color: #52565e;
    }

    & a {
      color: #feb900;
    }

    &_icon::before {
      background: #feb900;
    }
  }

  &_icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background: color-mix(in srgb, #feb900, transparent 95%);
      border-radius: 50px;
      z-index: 1;
      top: 10px;
      right: -20px;
      transition: 0.3s;
    }

    & i {
      color: #52565e;
      font-size: 56px;
      transition: ease-in-out 0.3s;
      z-index: 2;
      position: relative;
    }
  }

  & h3 {
    color: color-mix(in srgb, #52565e, transparent 20%);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid color-mix(in srgb, #52565e, transparent 90%);
    transition: 0.3s;
  }
  & p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  & a {
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    color: color-mix(in srgb, #364d59, transparent 30%);
    font-size: 16px;
  }
}

.service_card:hover .service_card_icon:before {
  background: #feb900;
}
