<form action="#" method="post" class="php-email-form">
  <h3>Get a quote</h3>
  <p>
    Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum
    repellendus enim linead sero park flows.
  </p>
  <div class="row gy-3">
    <div class="col-12">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        required=""
        fdprocessedid="ithgxb"
      />
    </div>

    <div class="col-12">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        required=""
        fdprocessedid="xhzcht"
      />
    </div>

    <div class="col-12">
      <input
        type="text"
        class="form-control"
        name="phone"
        placeholder="Phone"
        required=""
        fdprocessedid="hblnl3"
      />
    </div>

    <div class="col-12">
      <textarea
        class="form-control"
        name="message"
        rows="6"
        placeholder="Message"
        required=""
      ></textarea>
    </div>

    <div class="col-12 text-center">
      {% include "@atoms/button_demo/buttons.twig" with { 
        button_modifiers: 'btn--secondary',
        button__content: 'Get a quote',
        button_url: '#',
      } %}
    </div>
  </div>
</form>
