<form action="#" method="post" class="php-email-form">
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: '4',
    heading: card__subheading,
  } %}
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_content: card__body,
  } %}
  <div class="row gy-3">
    <div class="col-12">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        required=""
        fdprocessedid="ithgxb"
      />
    </div>

    <div class="col-12">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        required=""
        fdprocessedid="xhzcht"
      />
    </div>

    <div class="col-12">
      <input
        type="text"
        class="form-control"
        name="phone"
        placeholder="Phone"
        required=""
        fdprocessedid="hblnl3"
      />
    </div>

    <div class="col-12">
      <textarea
        class="form-control"
        name="message"
        rows="6"
        placeholder="Message"
        required=""
      ></textarea>
    </div>

    <div class="col-12 text-center">
      {% include "@atoms/button_demo/buttons.twig" with { 
        button_modifiers: 'btnn--secondary',
        button__content: btn_content,
        button_url: '#',
      } %}
    </div>
  </div>
</form>
