<section id="values" class="values section">
    <div
        class="container section_title aos-init aos-animate"
        data-aos="fade-up">
        {% include "@atoms/title/title.twig" with {
            title_content: 'Our Values',
        } %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: 'What we value Most',
        } %}
    </div>
    <div class="container">
        <div class="row gy-4">
            {% for item in items %}
                <div class="col-lg-4">
                    <div class="section_card">
                        {% include "@molecules/card/card.twig" with {
                            card__subheading: item.subheading,
                            card__body: item.body,
                            card__link__url: '#',
                            subheading_level: '3',
                            img_src: item.img   
                        } %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
