<a href="#" class="logo d-flex align-items-center me-auto">
  <img
    src="https://bootstrapmade.com/demo/templates/FlexStart/assets/img/logo.png"
    alt="logo"
  />
  <h1 class="title">FlexStart</h1>
</a>
