<div class="item">
      {% if icon_src %}
      {% include "@atoms/images/icons/_icon.twig" with { 
        icon_src: icon_src,
        iconColor: icon_clr
      }%}
    {% endif %}

    {% if card__subheading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: subheading_level,
        heading: card__subheading,
        heading_url: card__subheading__link,
      } %}
    {% endif %}

    {% if card__body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_blockname: card__base_class,
        paragraph_content: card__body,
      } %}
    {% endif %}

    {% if card__body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_blockname: card__base_class,
        paragraph_content: card__body2,
      } %}
    {% endif %}
</div>



