.navbar {
  display: flex;
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      display: none;
    }

    .active {
      color: #4154f1;
    }

    & a {
      color: #012970;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 15px;
    }
  }
  &_btn {
    margin-left: 30px;
  }
}
