.hero .info {
  position: relative;
  inset: 0;
  z-index: 3;
  padding: 140px 0 60px 0;
}

@media (max-width: 768px), (max-height: 480px) {
  .hero .info {
    padding: 100px 50px 60px 50px;
  }
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}

.hero .carousel {
  inset: 0;
  position: absolute;
  overflow: hidden;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition-duration: 0.4s;
}

.hero .carousel-item img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px;
  }
}

.hero .carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .hero .carousel-control-next {
    padding-right: 15px;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: color-mix(in srgb, #364d59, transparent 80%);
  color: color-mix(in srgb, #364d59, transparent 40%);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

.hero .carousel-item::before {
  content: '';
  background-color: color-mix(in srgb, #060606, transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  overflow: hidden;

  &_card {
    & h3 {
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 56px;
      font-weight: 700;
      position: relative;
      color: #ffffff;
      @media (max-width: 768px) {
        font-size: 36px !important;
      }
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 4px;
        background: #feb900;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    & p {
      color: color-mix(in srgb, #ffffff, transparent 20%);
      font-size: 18px;
    }
  }
}
