.blog {
  &_item {
    background-color: #ffffff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    &:hover {
      & img {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
      & a,
      & h4 {
        color: #feb900;
      }
    }
  }
  &_date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #feb900;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }

  &_content {
    padding: 30px;
    & h4 {
      color: #52565e;
      font-size: 20px;
      font-weight: 700;
      transition: 0.3s;
      margin-bottom: 15px;
    }
    & a {
      text-decoration: none;
      & i {
        line-height: 0;
        margin-left: 6px;
        font-size: 16px;
      }
    }
  }
}

.meta {
  & i {
    font-size: 16px;
    color: #feb900;
  }
  & span {
    font-size: 15px;
    color: color-mix(in srgb, #444444, transparent 50%);
  }
}

.hr {
  color: color-mix(in srgb, #444444, transparent 80%);
  margin: 20px 0;
}

.readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: color-mix(in srgb, #444444, transparent 40%);
}
