{% set heading = content.field_banner_heading  %}
{% set img_src = content.field_banner_img[0]["#markup"]  %}


<div class="card">
    <div class = "card_left">
      {% include "@atoms/text/headings/_heading.twig" with {
      'heading': heading,
      'heading_level': '1',
      } %}
  
      {{content.field_banner_body}}
    </div>
    <div class = "card_right">
      {% include "@atoms/images/image/_image.twig" with {
          'image_src': img_src,
          'image_alt': img_alt
      } %}
    </div>
</div>

  