<section id="alt-services2" class="alt-services2 section">
  <div class="container">
    <div class="row justify-content-around gy-4">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1 aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="section_top">
            {% include "@atoms/text/headings/_heading.twig" with {
                heading_level: '4',
                heading: heading
            }%}

            {% include "@atoms/text/text/01-paragraph.twig" with {
                paragraph_content: body
            }%}
        </div>
        <div class="row">
            {% for card in cards %}
                <div class="col-lg-6 icon-box d-flex">
                    {% include "@molecules/card2/card2.twig" with {
                        card__subheading: card.heading,
                        card__body: card.body,
                        subheading_level: '4',
                        icon_src: card.icon
                    } %}
                </div>
            {% endfor %}
        </div>
      </div>

      <div
        class="features-image col-lg-5 order-1 order-lg-2 aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        {% include "@atoms/images/image/_image.twig" with {
            image_src: src,
            image_alt: alt_text
        } %}
      </div>
    </div>
  </div>
</section>
