.testimonial-wrap {
  padding-left: 50px;
}

.slick-dots li button:before {
  width: 12px !important;
  height: 12px !important;
  content: '' !important;
  background-color: #ffffff !important;
  opacity: 1;
  border: 1px solid #feb900 !important;
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}

.slick-dots li.slick-active button:before {
  background-color: #feb900 !important;
  border-color: #feb900 !important;
}
